<div class="w-full right-content">
  <img src="<%= asset_path('background/top-grass.png') %>" class="w-full" />
  <div class="child-container">
    <div class="w-full mb-4 pb-4 border-b border-gray-200 flex items-center justify-between">
      <h1 class="font-medium text-lg">
        <%= I18n.t 'notice.edit' %>
      </h1>
    </div>
    <div class="w-full mt-2 text-sm">
      <%= render partial: 'notices/form' %>
    </div>
  </div>
</div>