<% flash.each do |key, value| %>
  <div
    class="<%= flash_class(key) %> px-4 py-3 rounded absolute bottom-20 left-1/2 transform -translate-x-1/2 flex items-center"
    role="alert"
    x-data="{ open: true }"
    x-show="open"
  >
    <div class="flex">
      <div>
        <p class="text-sm"><%= value %></p>
      </div>
    </div>
    <span
      class="ml-5 px-1 py-0.5 -mr-2 cursor-pointer"
      @click="open = false"
    >
      <svg
        class="fill-current h-5 w-5 <%= flash_color(key) %>"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"
        />
      </svg>
    </span>
  </div>
<% end %>