<nav class="relative w-full max-w-xl mx-auto p-5 flex">
  <a href="/" class="no-underline">
    <div class="bg-white text-black p-1 px-4 font-medium text-lg relative border w-fit">
      MapleLatino
      <img src="<%= asset_path('maple-leaf-150.png') %>" class="absolute leaf r-0" />
    </div>
  </a>
</nav>