<%= form_with model: @pack do |form| %>
  <%= form.text_field :name, class: 'w-full border-gray-200 rounded text-base mb-2', placeholder: 'Pack Name' %>
  <%= form.number_field :price, class: 'w-full border-gray-200 rounded text-base mb-2', placeholder: 'Price' %>
  <button
    type="submit"
    class="py-1.5 px-5 rounded text-sm bg-blue-600 text-white"
  >
    <%= I18n.t 'store.save' %>
  </button>
<% end %>