.main-bg {
  background-color: #98d0fb;
  font-family: Rubik, Sans-Serif;
  background: url(asset-path('background/anime_footer01.gif')), url(asset-path('background/anime_footer04.gif')), url(asset-path('background/anime_footer05.gif')), url(asset-path('background/anime_tower01.gif')), url(asset-path('background/anime_tower02.gif')), url(asset-path('background/anime_sky05.gif')), url(asset-path('background/bg_tower.png')), url(asset-path('background/bg_day.jpg'));
  background-repeat: no-repeat;
  background-position: calc(50% - 860px) 715px, calc(50% - 746px) 790px, calc(50% + 884px) 676px, calc(50% - 843px) 254px, calc(50% + 820px) 251px, calc(50% - 658px) 20px, center -35px, center -35px;
}
@media (max-width: 1024px) {
  .main-bg {
    background: url(asset-path('background/bg_tower.png')), url(asset-path('background/bg_day.jpg'));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
  }
}
/*
calc(50% - 860px) 715px,calc(50% + 630px) 740px,calc(50% + 232px) 797px,calc(50% - 746px) 790px,calc(50% + 884px) 676px,calc(50% - 600px) 780px,calc(50% - 843px) 254px,calc(50% + 820px) 251px,calc(50% - 730px) 415px,calc(50% + 694px) 24px,calc(50% - 668px) 616px,calc(50% + 628px) 364px,calc(50% - 658px) 20px,center -35px,center -35px;
*/
.right-content .child-container {
  background: #fff8ed;
  border-bottom: solid 3px #dbc19a;
  border-right: solid 3px #dbc19a;
  border-left: solid 3px #dbc19a;
  border-radius: 0 0 10px 10px;
  margin: 0 12px;
  padding: 10px 30px 20px;
}
.download-row {
  border: solid 2px #e8cca0;
}
.sidebar {
  width: 250px;
}

.left-bar {
  width: calc(100% - 250);
}

.login-container {
  height: 293px;
  background: url(asset-path('login/login.png'));

  .left-form, .child-content {
    padding: 30px 40px;
  }
}

.leaf {
  margin-right: -9px;
  margin-top: -12px;
  right: 0;
  width: 30px;
  top: 0;
}

.nav-custom a {
  margin-bottom: 5px;
}