.main-bg {
  background-color: #98d0fb;
  font-family: Rubik, Sans-Serif;
  background: url(asset-path('background/bg_tower.png')), url(asset-path('background/bg_day.jpg'));
}

.right-content .child-container {
  background: #fff8ed;
  border-bottom: solid 3px #dbc19a;
  border-right: solid 3px #dbc19a;
  border-left: solid 3px #dbc19a;
  border-radius: 0 0 10px 10px;
  margin: 0 12px;
  padding: 10px 30px 20px;
}
.download-row {
  border: solid 2px #e8cca0;
}
.sidebar {
  width: 250px;
}

.left-bar {
  width: calc(100% - 250);
}

.login-container {
  height: 293px;
  background: url(asset-path('login/login.png'));

  .left-form, .child-content {
    padding: 30px 40px;
  }
}

.leaf {
  margin-right: -9px;
  margin-top: -12px;
  right: 0;
  width: 30px;
  top: 0;
}

.nav-custom a {
  margin-bottom: 5px;
}