.main-bg {
    font-family: Rubik, Sans-Serif;
    background: url(asset-path('background/bg_tower.png')), url(asset-path('background/bg_day.jpg'));
}
.leaf {
    margin-right: -8px;
    margin-top: -17px;
    width: 30px;
}